@keyframes hideshow {
  0% {
    fill: blue;
    stroke-width: 1.5;
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
  }
  50% {
    /* fill: darkblue; */
    stroke-width: 2;
    filter: drop-shadow(5px 5px 4px rgb(0 0 0 / 0.4));
  }
  100% {
    fill: blue;
    stroke-width: 1.5;
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
  }
}

.animated-train-marker {
  stroke-opacity: 1;
  stroke: white;
  fill: blue;
  animation: hideshow 3s ease-in-out infinite;
}

.disabled-edge {
  filter: drop-shadow(0px 0px 10px black);
}
